<div class="layout-row landing-page-container">
  {{#paper-form class="layout-column flex" onSubmit=(action "geneformSubmit") as |form|}}
    {{#paper-card class="landing-page-card" as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}FunSet Enrichment Visualization Parameters{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        <div class="layout-row">
          {{#paper-button raised=true warn=true class="flex-100" onClick=(action "populateExample")}}New to FunSet? Click here to prepopulate the fields with our example data. {{paper-icon "arrow_forward"}}{{/paper-button}}
        </div>
        <div class="layout-row">
          <div class="layout-column flex">
            {{paper-input textarea=true passThru=(hash rows=5 maxRows=15) block=true label="Genes" value=genelist required=true onChange=(action (mut genelist)) customValidations=genelistValidation}}
          </div>
        </div>
        {{frost-file-picker
          accept='.txt,.text'
          placeholderText="(optional) select genes from file (one gene per line .txt)"
          onChange=(action "inputgenesFileChanged")
        }}
        <div class="layout layout-align-center-center">
          {{#paper-select
            class="flex"
            label="Ontology Version"
            options=model
            selected=ontologyselected
            onChange=(action (mut ontologyselected))
            as |ontology|}}
            {{ontology.description}}
          {{/paper-select}}
        </div>
        <div class="layout layout-align-center-center">
          {{#paper-select
            class="flex"
            label="Organism"
            options=organismoptions
            selected=organismselected
            onChange=(action (mut organismselected))
            as |organism|}}
            {{organism.name}}
          {{/paper-select}}
        </div>
        <div class="layout layout-align-center-center">
          {{#paper-select
            class="flex"
            label="Namespace"
            options=namespaceOptions
            selected=namespaceselected
            onChange=(action (mut namespaceselected))
            as |namespace|}}
            {{namespace.name}}
          {{/paper-select}}
        </div>
        {{frost-file-picker
          accept='.txt,.text'
          placeholderText="(optional) Add background genes - (one gene per line .txt)"
          onChange=(action "backgroundFileChanged")
        }}
        <div class="layout layout-align-center-center slider-container">
          <span style="margin-right: 16px; margin-left: 5px;">FDR threshold</span>
          {{paper-slider class="flex" min=0 max=100 discrete=true steps=2 value=pvalueslider onChange=(action "updatePValueSlider")}}
          {{paper-input value=pvaluethreshold onChange=(action "updatePValue")}}
        </div>
        <div class="layout-row">
          {{#form.submit-button raised=true primary=true disabled=form.isInvalid}}Submit{{/form.submit-button}}
        </div>
      {{/card.content}}
    {{/paper-card}}
  {{/paper-form}}
  <div class="layout-column layout-align-start-center flex-30">
    {{#paper-card class="landing-page-card" as |card|}}
      {{!-- {{card.image class="landing-page-logo" src=(concat rootURL "/img/uno-lockup-logo.png") alt="pathway_viz" title="pathway_viz"}} --}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Welcome to the FunSet Enrichment Visualization App{{/text.headline}}
          {{#text.subhead}}By Matt Hale, Dario Ghersi, and Ishwor Thapa{{/text.subhead}}
          <br>
          The FunSet webserver performs Gene Ontology (GO) enrichment analysis, identifying GO terms that are statistically overrepresented in a target set with respect to a background set. The enriched terms are displayed in a 2D plot that captures the semantic similarity between terms, with the option to cluster the terms and identify a representative term for each cluster. FunSet can be used interactively or programmatically, and allows users to download the enrichment results both in tabular form and in graphical form as SVG files or in data format as JSON or csv.
        {{/title.text}}

      {{/card.title}}


    {{/paper-card}}
  </div>
</div>
