<!--
@Author: Matthew Hale <mlhale>
@Date:   2018-02-14T18:06:24-06:00
@Email:  mlhale@unomaha.edu
@Filename: visualization.hbs
@Last modified by:   mlhale
@Last modified time: 2018-02-15T15:34:29-06:00
@License: Funset is a web-based BIOI tool for visualizing genetic pathway information. This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have received a copy of the GNU General Public License along with this program. If not, see http://www.gnu.org/licenses/.
@Copyright: Copyright (C) 2017 Matthew L. Hale, Dario Ghersi, Ishwor Thapa
-->



<div class="layout-row layout-sm-column">
  {{#paper-card class="flex term-ontology-card" as |card|}}
    {{#card.content class="layout-row layout-align-space-between flex-100 term-ontology-graph-container"}}
      {{#unless (eq percenttermsloaded 100)}}
        <div class="layout-row flex layout-align-center-center">

          {{#if (gte percenttermsloaded 2)}}
            <div class="loading-text">Loading terms...</div>
            {{paper-progress-circular warn=true value=percenttermsloaded diameter=180}}
          {{else if route.error}}
            <div class="loading-text">
              {{route.error}}
              {{#link-to 'index'}}Return home to try other parameters.{{/link-to}}
            </div>
          {{else}}
            <div class="loading-text">Calculating Enrichments and Clustering (this may take a few minutes) ...</div>
            {{paper-progress-circular warn=true diameter=180}}
          {{/if}}
        </div>
      {{else}}
        {{term-ontology nodes=model links=links parentNodes=parentNodes showTermLabels=showTermLabels linkForcesOn=linkForcesOn renderEventQueue=renderEventQueue}}
        {{#if clustersloading}}
          <div class="reclustering-text layout-row layout-align-center-center">

            <div class="loading-text">Re-clustering ...</div>
            {{paper-progress-circular warn=true diameter=180}}
          </div>
        {{/if}}
      {{/unless}}
    {{/card.content}}
  {{/paper-card}}

  <div class="layout-column flex-gt-sm-50 flex-gt-md-40 flex-gt-lg-30 termlist">
    {{#paper-card}}
      {{#paper-toolbar accent=true}}
        {{#paper-toolbar-tools}}
          <h5>
            Exploring {{route.termstoload}} terms in {{sortedNodeClusters.length}} Clusters <br>
            Total Terms in Ontology: {{route.termcount}} <br>
            Run produced at: {{route.run.created}}
          </h5>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}
      {{#paper-list}}
        {{#paper-subheader}}Graph options{{/paper-subheader}}
          <div class="layout layout-align-center-center slider-container graph-options-slider">
            <span style="margin-right: 16px;">Number of Clusters</span>
            {{paper-slider class="flex" discrete=true step=1 active=clusterslideractive min=1 max=route.termstoload value=route.clusters onChange=(action (mut route.clusters))}}
            {{paper-input value=route.clusters class="flex-10 cluster-input-field" focused=clustersfieldactive onChange=(action (mut route.clusters))}}
            {{#paper-button raised=true warn=true class="cluster-update-button" onClick=(action "updateClusters") }}Update Clusters{{/paper-button}}
          </div>
        {{#paper-item as |controls|}}
          <p>Show Term Labels?</p>
          <div class="md-secondary-container">
            {{controls.checkbox
              value=showTermLabels
              secondary=true
              onChange=(action (mut showTermLabels))}}
          </div>
        {{/paper-item}}
        <!-- {{#paper-item as |controls|}}
          <p>Apply forces on links?</p>
          <div class="md-secondary-container">
            {{controls.checkbox
              value=linkForce
              secondary=true
              onChange=(action (mut linkForce))}}
          </div>
        {{/paper-item}} -->
      {{/paper-list}}
      {{paper-divider}}
      {{#if (eq percenttermsloaded 100)}}
        {{#paper-list class="scrollabletermlist"}}
          {{#paper-subheader}}
            {{#paper-checkbox value=allclustersselected class="flex" onChange=(action "toggleAllClustersSelected")}}
             Show All ({{sortedNodeClusters.length}}) Clusters
            {{/paper-checkbox}}

          {{/paper-subheader}}

            {{#each sortedNodeClusters as |cluster index|}}
              {{#paper-expansion-panel as |panel|}}
                {{#panel.collapsed}}
                  {{#paper-checkbox value=cluster.selected onChange=(action "toggleSelectedCluster" cluster)}}
                  {{/paper-checkbox}}
                  <div class="md-panel-title">Cluster #{{cluster.name}}</div>
                  <div class="md-panel-summary">{{cluster.nodes.length}} Terms / {{cluster.genes.length}} Genes</div>
                  {{paper-icon "keyboard_arrow_down"}}
                {{/panel.collapsed}}

                {{#panel.expanded as |expanded|}}
                  {{#expanded.header}}
                    {{#paper-checkbox value=cluster.selected onChange=(action "toggleSelectedCluster" cluster)}}
                    {{/paper-checkbox}}
                    <div class="md-panel-title">Cluster #{{cluster.name}}</div>
                    <div class="md-panel-summary">{{cluster.nodes.length}} Terms / {{cluster.genes.length}} Genes</div>
                    {{cluster-download cluster=cluster}}
                    {{paper-icon "keyboard_arrow_up"}}
                  {{/expanded.header}}

                  {{#expanded.content}}

                    <!-- term sub Panel -->
                    {{#paper-expansion-panel as |termpanel|}}
                      {{#termpanel.collapsed}}
                        <div class="md-panel-summary"> Terms </div>
                        {{paper-icon "keyboard_arrow_down"}}
                      {{/termpanel.collapsed}}
                      {{#termpanel.expanded as |termsexpanded|}}
                        {{#termsexpanded.header}}
                          <div class="md-panel-summary"> Terms </div>
                          {{paper-icon "keyboard_arrow_down"}}
                        {{/termsexpanded.header}}
                        {{#termsexpanded.content}}
                          {{#each cluster.nodes as |node|}}
                            {{#paper-item class="md-3-line" onClick=(action "toggleSelectedTerm" node) as |controls|}}
                              {{#if node.enrichment.selected}}
                                {{paper-icon "visibility_off" class=(concat "md-avatar-icon" (if node.enrichment.selected " term-selected"))}}
                              {{else}}
                                {{paper-icon "visibility" class=(concat "md-avatar-icon" (if node.enrichment.selected " term-selected"))}}
                              {{/if}}
                              <div class="md-list-item-text">
                                <h3>
                                  <strong>{{#if node.enrichment.medoid}}(centroid) {{/if}}{{node.term.termid}} [ES={{round node.enrichment.level decimals=3}}, FDR={{exponential-form node.enrichment.pvalue}}]</strong>
                                </h3>
                                <h4>{{node.term.name}}</h4>
                                <p>
                                  {{node.term.description}}
                                </p>
                              </div>
                            {{/paper-item}}
                          {{/each}}
                        {{/termsexpanded.content}}
                      {{/termpanel.expanded}}
                    {{/paper-expansion-panel}}
                      <!-- Gene sub Panel -->
                    {{#paper-expansion-panel as |genepanel|}}
                      {{#genepanel.collapsed}}
                        <div class="md-panel-summary"> Genes </div>
                        {{paper-icon "keyboard_arrow_down"}}
                      {{/genepanel.collapsed}}

                      {{#genepanel.expanded as |genesexpanded|}}
                        {{#genesexpanded.header}}
                          <div class="md-panel-summary"> Genes </div>
                          {{paper-icon "keyboard_arrow_down"}}
                        {{/genesexpanded.header}}
                        {{#genesexpanded.content}}
                          {{#each cluster.genes as |gene|}}
                            {{#paper-item class="md-2-line" onClick=(action "toggleSelectedTerm" node) as |controls|}}
                              <div class="md-list-item-text">
                                <p>
                                  <strong>{{gene.geneid}}</strong>
                                </p>
                              </div>
                            {{/paper-item}}
                          {{/each}}
                        {{/genesexpanded.content}}
                      {{/genepanel.expanded}}
                    {{/paper-expansion-panel}}

                  {{/expanded.content}}

                  {{!-- {{#expanded.footer}}
                  {{/expanded.footer}} --}}

                {{/panel.expanded}}
              {{/paper-expansion-panel}}


            {{/each}}

        {{/paper-list}}<!--end scrollabletermlist -->
      {{/if}}
    {{/paper-card}}
  </div>
</div>
