<div class="layout-row layout-sm-column">
  {{#paper-card class="flex term-ontology-card" as |card|}}
    {{#card.content class="layout-row layout-align-space-between flex-100 term-ontology-graph-container"}}
      {{!-- {{#if termsloaded}}
        {{paper-progress-circular}}
      {{else}} --}}
        {{term-ontology nodes=model termloadingqueue=loadtermnodes labels=showTermLabels linkforce=linkForce renderEventQueue=renderEventQueue}}
      {{!-- {{/if}} --}}
    {{/card.content}}
  {{/paper-card}}
  <div class="layout-column flex-gt-sm-50 flex-gt-md-40 flex-gt-lg-30 termlist">
    {{#paper-card}}
      {{#paper-toolbar accent=true}}
        {{#paper-toolbar-tools}}
          <h5>
            Exploring {{route.termstoload}} terms<br>
            {{#unless termsloaded}}Loaded:{{mult 100 (div model.length route.termstoload)}}% of terms<br>{{/unless}}
            Total Terms in Ontology: {{route.termcount}}
          </h5>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}
      {{#paper-list}}
        {{#paper-subheader}}Graph options{{/paper-subheader}}
        {{#paper-item as |controls|}}
          <p>Show Term Labels?</p>
          <div class="md-secondary-container">
            {{controls.checkbox
              value=showTermLabels
              secondary=true
              onChange=(action (mut showTermLabels))}}
          </div>
        {{/paper-item}}
        {{#paper-item as |controls|}}
          <p>Apply forces on links?</p>
          <div class="md-secondary-container">
            {{controls.checkbox
              value=linkForce
              secondary=true
              onChange=(action (mut linkForce))}}
          </div>
        {{/paper-item}}
      {{/paper-list}}
      {{#paper-list class="scrollabletermlist"}}
        {{#paper-subheader}}Terms{{/paper-subheader}}
          {{#each sortedNodes as |node|}}
            {{#paper-item class="md-3-line" onClick=(action "toggleSelectedTerm" node.term) as |controls|}}
              {{paper-icon "title" class=(concat "md-avatar-icon" (if node.term.selected " term-selected"))}}
              <div class="md-list-item-text">
                <h3>
                  <strong>{{node.term.termid}} [p={{node.enrichment.pvalue}},l={{node.enrichment.level}}]</strong>
                </h3>
                <h4>{{node.term.name}}</h4>
                <p>
                  {{node.term.description}}
                </p>
              </div>
              {{!-- <div class="md-secondary-container">
                {{#if waypoint.edit}}
                  {{#controls.button secondary=true onClick=(action "saveMarker" waypoint)}}
                    Save
                  {{/controls.button}}
                {{else}}
                  {{#controls.button secondary=true onClick=(action "editMarker" waypoint)}}
                    Edit
                  {{/controls.button}}
                {{/if}} --}}
              {{!-- </div> --}}
            {{/paper-item}}
          {{/each}}

      {{/paper-list}}
    {{/paper-card}}
  </div>
</div>
