
<div class="layout-row layout-sm-column">
  {{#paper-card class="flex term-ontology-card" as |card|}}
    {{#card.content class="layout-row layout-align-space-between flex-100 term-ontology-graph-container"}}
      {{#unless (eq percenttermsloaded 100)}}
        <div class="layout-row flex layout-align-center-center">

          {{#if (gte percenttermsloaded 2)}}
            <div class="loading-text">Loading terms...</div>
            {{paper-progress-circular warn=true value=percenttermsloaded diameter=180}}
          {{else}}
            <div class="loading-text">Fetching Data...</div>
            {{paper-progress-circular warn=true diameter=180}}
          {{/if}}
        </div>
      {{else}}
        {{term-ontology nodes=model links=links parentNodes=parentNodes showTermLabels=showTermLabels linkForcesOn=linkForcesOn renderEventQueue=renderEventQueue}}
      {{/unless}}
    {{/card.content}}
  {{/paper-card}}

  <div class="layout-column flex-gt-sm-50 flex-gt-md-40 flex-gt-lg-30 termlist">
    {{#paper-card}}
      {{#paper-toolbar accent=true}}
        {{#paper-toolbar-tools}}
          <h5>
            Exploring {{route.termstoload}} terms<br>
            Total Terms in Ontology: {{route.termcount}}
          </h5>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}
      {{#paper-list}}
        {{#paper-subheader}}Graph options{{/paper-subheader}}
          <div class="layout layout-align-center-center slider-container graph-options-slider">
            <span style="margin-right: 16px;">Number of Clusters</span>
            {{paper-slider class="flex" min=0 max=100 discrete=true steps=2 value=route.clusters onChange=(action "updateClusternum")}}
            {{paper-input value=route.clusters onChange=(action "updateClusternum")}}
          </div>
        {{#paper-item as |controls|}}
          <p>Show Term Labels?</p>
          <div class="md-secondary-container">
            {{controls.checkbox
              value=showTermLabels
              secondary=true
              onChange=(action (mut showTermLabels))}}
          </div>
        {{/paper-item}}
        {{#paper-item as |controls|}}
          <p>Apply forces on links?</p>
          <div class="md-secondary-container">
            {{controls.checkbox
              value=linkForce
              secondary=true
              onChange=(action (mut linkForce))}}
          </div>
        {{/paper-item}}
      {{/paper-list}}
      {{#paper-list class="scrollabletermlist"}}
        {{#paper-subheader}}Terms{{/paper-subheader}}
          {{#each sortedNodeClusters as |cluster|}}
            {{#paper-expansion-panel as |panel|}}
              {{#panel.collapsed}}
                <div class="md-panel-title">Cluster {{cluster.name}}</div>
                <div class="md-panel-summary">{{cluster.nodes.length}} Terms</div>
                {{paper-icon "keyboard_arrow_down"}}
              {{/panel.collapsed}}

              {{#panel.expanded as |expanded|}}
                {{#expanded.header}}
                  <div class="md-panel-title">Cluster {{cluster.name}}</div>
                  <div class="md-panel-summary">{{cluster.nodes.length}} Terms</div>
                  {{paper-icon "keyboard_arrow_up"}}
                {{/expanded.header}}

                {{#expanded.content}}
                  {{#each cluster.nodes as |node|}}
                    {{#paper-item class="md-3-line" onClick=(action "toggleSelectedTerm" node) as |controls|}}
                      {{paper-icon "title" class=(concat "md-avatar-icon" (if node.enrichment.selected " term-selected"))}}
                      <div class="md-list-item-text">
                        <h3>
                          <strong>{{node.term.termid}} [p={{node.enrichment.pvalue}},l={{node.enrichment.level}}]</strong>
                        </h3>
                        <h4>{{node.term.name}}</h4>
                        <p>
                          {{node.term.description}}
                        </p>
                      </div>
                    {{/paper-item}}
                  {{/each}}
                {{/expanded.content}}

                {{!-- {{#expanded.footer}}
                {{/expanded.footer}} --}}

              {{/panel.expanded}}
            {{/paper-expansion-panel}}


          {{/each}}

      {{/paper-list}}
    {{/paper-card}}
  </div>
</div>
